<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}<!-- Title Goes Here -->{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

        <!-- CSS: implied media="all" -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=1">
        {% block cssImports %}<!-- CSS Go Here -->{% endblock cssImports %}

        <!-- More ideas for your <head> here: h5bp.com/docs/#head-Tips -->

        <!-- All JavaScript at the bottom, except for Modernizr and Respond.
        Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
        For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/modernizr-2.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/respond.min.js"></script>

        {% block head %}<!-- extra header info goes here -->{% endblock %}
    </head>
    <body>
        <div id="mainpage">
            <header>
                <div id="header">
                    {% block header %}<!-- Header Goes Here -->{% endblock header %}
                </div>
            </header>
            <div id="content">
                {% block content %}<!-- Content Goes Here -->{% endblock content %}
            </div>
            <footer>
                <div id="footer">
                    {% block footer %}<!-- Footer Goes Here -->{% endblock footer %}
                </div>
            </footer>
        </div>
        {% block javascript_library %}
        <!-- JavaScript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript">
            window.jQuery || document.write('<script src="{{ STATIC_URL}}js/libs/jquery-1.6.1.min.js"><\/script>')
        </script>

        <!-- site-wide scripts -->
        {% endblock javascript_library %}
        {% block javascript %}<!-- Javascript Code Goes Here -->{% endblock %}
    </body>
</html>
